*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3, p{
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.content{
    text-align: center;
}

.login{
    text-align: center;
    border-color: black;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    width: 30%;
    margin: auto;
    margin-top: 6%;
}
iframe{
    width:80%;
    height:400px;
}
.login a{
    padding: 15px;
    color: rgba(116, 9, 9, 0.959);
    text-decoration: none;
}
.msg, .success{
    color:white;
    font-size: 1em;
    padding:10px;
    text-align:center;
    border-radius:10px;
    margin-left: 10px;
    margin-right:10px;
}
.msg-error{
    background-color: firebrick;
}
.msg-success{
    background-color: green;
}
.msg-notice{
    background-color: darkorange;
}

.login a:hover{
    padding: 15px;
    color: rgba(163, 18, 18, 0.959);
    text-decoration: none;
}

.form{
    text-align: center;
    border-color: black;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    margin-top: 6%;
}

.form1{
    border-color: black;
    border-style: solid;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    border-radius: 20px;
    width: 35%;
    margin: auto;
    margin-top: 6%;
}

.report{
    border-color: black;
    border-style: solid;
    width: 60%;
    margin: auto;
    margin-top: 6%;
}

.form1 ul{
    list-style-type: none;
}


table, tr{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    width: 30%;
    margin: auto;
    margin-top: 6%;
}
.collapseTable{
    width:80%;
    text-align: center;
}
.collapseTable, .collapseTd{
    border:1px solid black;
    border-collapse:collapse;
    padding:10px;
}
.infoTable{
    width:90%;
}
.info{
    flex: 1;
    padding: 40px;
    border-radius: 20px;
    width: 30%;
    margin: auto;
    margin-top: 6%;
    border-color: black;
    border-style: solid;
}

.info input[type=submit]{
   margin-left: 20%;
}

.faculty{
    width: 90%;
    margin: auto;
    margin-top: 6%;
}

.faculty ul{
    list-style-type: none;
}


input[type=text], input[type=date], input[type=file], input[type=password],input[type=email], select{
    padding: 10px 40px;
    margin: 10px 5px;
    border-radius: 12px;
}

.topbar li{
    display: inline;
}

input[type=checkbox]{
    padding: 10px 40px;
    margin: 10px 5px;
    border-radius: 12px;
}

input[type=submit], button{
    background-color: rgba(116, 9, 9, 0.959);
    padding: 10px 40px;
    padding-top: 10px;
    border-radius: 12px;
    color: white;
    border-color: rgba(163, 18, 18, 0.959);
    text-align: center;
}

.topbar{
    overflow: hidden;
    background-color: rgba(163, 18, 18, 0.959);
    border-radius: 10px;
    border-color: rgba(116, 9, 9, 0.959);
    border-width: 20px;
}

.topbar li{
    display: inline;
}

.topbar a, button a{
    padding: 8px;
    color: white;
    text-decoration: none;
}

.topbar a:hover{
    padding: 20px;
    background-color: rgba(54, 16, 16, 0.959);
}
