*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3, p{
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.content{
    text-align: center;
}

.login{
    text-align: center;
    border-color: black;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    width: 30%;
    margin: auto;
    margin-top: 6%;
}

.login a{
    padding: 15px;
    color: rgba(116, 9, 9, 0.959);
    text-decoration: none;
}

.login a:hover{
    padding: 15px;
    color: rgba(163, 18, 18, 0.959);
    text-decoration: none;
}

.form{
    text-align: center;
    border-color: black;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    margin-top: 6%;
}

table{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-top: 6%;
}

input[type=text], input[type=date], input[type=file], input[type=password], select{
    padding: 10px 40px;
    margin: 10px 5px;
    border-radius: 12px;
}

input[type=submit], button{
    background-color: rgba(116, 9, 9, 0.959);
    padding: 10px 40px;
    border-radius: 12px;
    border-color: rgba(163, 18, 18, 0.959);
    text-align: center;
}

.topbar{
    overflow: hidden;
    background-color: rgba(163, 18, 18, 0.959);
    border-radius: 10px;
    border-color: rgba(116, 9, 9, 0.959);
    border-width: 20px;
}

.topbar li{
    display: inline;
}

.topbar a, button a{
    padding: 8px;
    color: white;
    text-decoration: none;
}

.topbar a:hover{
    padding: 20px;
    background-color: rgba(54, 16, 16, 0.959);
}

